[Unit]
Description=Cron schedule scripts
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=cron
ExecStart=/usr/local/bin/cron-service --path=/usr/local/etc/cron
WorkingDirectory=/usr/local/etc/cron
StandardOutput=inherit
StandardError=inherit